#all {
  background-color: bisque;
  display: flex;
  flex-direction: row;
  flex-grow: 2;
  max-width: 700px;
}
img {
  max-width: 300%;
  max-height: 400%;
  margin: 10px;
}
#txt {
  margin: 10px;
}
#cast {
  margin: 25px;
}
#stars span {
  color: #b4b4b4;
  user-select: none;
  cursor: pointer;
  font-size: 15px;
}
#stars span.filled {
  color: darkslategray;
}
